<h2>User info</h2>
<% if @user.present? %>
    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg",size:"100x100" %>
<% else %>
    <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg",size:"100x100" %>
<% end %>
<table class="table">
    <tbody>
        <tr></tr>
        <tr>
            <th>name</th>
            <% if @user.present? %>
                <th><%= @user.name %></th>
            <% else %>
                <th><%= current_user.name %></th>
            <% end %>
        </tr>
        <tr>
            <th>introduction</th>
            <% if @user.present? %>
                <th><%= @user.introduction %></th>
            <% else %>
                <th><%= current_user.introduction %></th>
            <% end %>
        </tr>
    </tbody>
</table>
<div class="row">
    <% if @user.present? %>
        <%= link_to "", edit_user_path(@user),class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    <% else %>
        <%= link_to "", edit_user_path(current_user),class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    <% end %>
</div>
<h2>New book</h2>
<%= form_with model:@new_book, local:true do |f|%>
    <div class="field row">
	    <%= f.label :title, "Title" %><br />
        <%= f.text_field :title %>
    </div>
    <div class="field row">
        <%= f.label :body, "Opinion" %><br />
        <%= f.text_area :body %>
    </div>
    <div class="actions row">
        <%= f.submit 'Create Book' ,class: "btn btn-primary col-xs-12"%>
    </div>
    <% if @new_book.errors.any? %>
        <% @new_book.errors.full_messages.each do |message| %>
            <div class="field row">
                <p><%= message %> error</p>
            </div>
        <% end %>
    <% end %>
<% end %>